#clock {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 150px; /* フォントサイズを大きくします */
    text-align: center; /* テキストを中央揃えにします */
    margin-top: 20px;
    width: 100%; /* 幅を100%に設定して、親要素の中央に配置 */
    position: absolute; /* 絶対位置指定 */
    top: 50%; /* 上から50%の位置 */
    left: 50%; /* 左から50%の位置 */
    transform: translate(-50%, -50%); /* 位置を正確に中央に調整 */
    background-image: url('C:\Users\hiro-\Desktop\ジブリ.gif'); /* 画像のURLを設定 */
    background-size: cover; /* 画像が要素全体を覆うように調整 */
    background-repeat: no-repeat; /* 画像の繰り返しを防止 */
    background-position: center; /* 画像を中央に配置 */
}
