body {
    background-image: url('totoro.gif'); /* 画像のURLを設定 */
    background-size: cover; /* 画像が要素全体を覆うように調整 */
    background-repeat: no-repeat; /* 画像の繰り返しを防止 */
    background-position: center; /* 画像を中央に配置 */
    background-attachment: fixed; /* 背景画像がスクロールに連動しないように固定 */
}

#clock {
    font-family: 'Arial', sans-serif;
    color: yellow;
    font-size: 200px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hidden {
    display: none;
}

